{% extends 'navbar.html' %}

{% block title %}Registro Estudiantes{% endblock %}
{% block content %}

    <h1>Registro para Estudiantes</h1>
    <form action="/registroEstudiantes" method="post">
        <label for="numero_lista">Ingresa tu número de lista </label><br>
        <input type="text" id="numero_lista" name="numero_lista" value=""><br>

        <label for="grupo">Grupo: </label><br>
        <input type="text" id="grupo" name="grupo" value=""><br>

        <label for="genero">Género:</label><br>
        <input type="text" id="genero" name="genero" value=""><br>

        <label for="ciclo_escolar">Ciclo Escolar:</label><br>
        <input type="text" id="ciclo_escolar" name="ciclo_escolar" value=""><br><br>

        <input type="submit" value="Registrar">

    </form>
{% endblock %}
