<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Buscar un Estudiante por su número de lista y grupo</h1>
    <form action="/registroEstudiantes" method="post">
        <label for="numero_lista">Ingresa tu número de lista </label><br>
        <input type="text" id="numero_lista" name="numero_lista" value=""><br>

        <label for="grupo">Grupo: </label><br>
        <input type="text" id="grupo" name="grupo" value=""><br>

        

    </form>
</body>
</html>